.input {
  margin-left: 1rem;
  margin-right: 1rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 3em;
  text-align: right;
  background-color: black;
  color: white;
}